@{
    ViewBag.Title = "PaymentReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PaymentReports</h2>

<div class="container">
<fieldset>
    <legend>Reporte De Pagos</legend>
    <label for="dateStart">Desde</label>
    <input type="date" id="dateStart"/>
     <label for="dateEnd">Hasta</label>
    <input type="date" id="dateEnd"/>
     <label for="comboTienda">Tienda</label>
    <select id="comboTienda">
        <option value="0">Todos</option>
    </select>
</fieldset>


</div>
